.grey-bg {
  position: relative;
  top: -300px;
  left: 0;
  width: 100vw;
  background-color: #efeeec;
  height: 1073px;
  z-index: -1;
  -webkit-transform: skewY(-7.8deg);
  -ms-transform: skewY(-7.8deg);
  transform: skewY(-7.8deg);
}