@import 'veriabel';

@include fontface($Roboto, Roboto-Bold, 700, normal);
@include fontface($Roboto, Roboto-Black, 900, normal);
@include fontface($Roboto, Roboto-Medium, 500, normal);
@include fontface($Roboto, Roboto-Regular, 400, normal);
@include fontface($Roboto, Roboto-Light, 300, normal);

@include fontface($OpenSans, OpenSans-Light, 300, normal);
@include fontface($OpenSans, OpenSans-Regular, 400, normal);
@include fontface($OpenSans, OpenSans-Bold, 700, normal);
@include fontface($OpenSans, OpenSans-SemiBold, 600, normal);
@include fontface($OpenSans, OpenSans-ExtraBold, 800, normal);

@include fontface($DINPro, DINPro-Medium, 500, normal);
@include fontface($DINPro, DINPro, 400, normal);
@include fontface($DINPro, DINPro-Black, 900, normal);
@include fontface($DINPro, DINPro-Light, 300, normal);
@include fontface($DINPro, DINPro-Bold, 700, normal);

@include fontface($Christopher, Christopher, 100, normal);

@include fontface($MyriadPro, MyriadPro-Regular, 400, normal);
@include fontface($MyriadPro, MyriadPro-Semibold, 600, normal);
@include fontface($MyriadPro, MyriadPro-Bold, 700, normal);




* {
  box-sizing: border-box;


  &:focus {
    outline: none;
  }
}

input {
  -moz-appearance:textfield;
}

a {
  text-decoration: none;
  transition: $delay;

  &:hover {
    opacity: .8;
  }
}

input[type="submit"] {
  cursor: pointer;
  transition: $delay;

  &:hover {
    opacity: .8;
  }
}

body {
 &.overflow {
   overflow: hidden;
 }
}

.slick-initialized .slick-slide {
  outline: none;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
}

.main {
  display: block;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.slanted-bg {
  position: relative;

  &:before {
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    transform: skewY(-7.8deg);
  }
}

.drink-item {
  margin-bottom: 0;
  width: 33.333333%;

  @include respond-to(md) {
    width: 50%;
  }

  @include respond-to(sm) {
    width: 100%;
  }

  @include respond-to(xs) {
    margin-bottom: 30px;
  }

  &__image {
      max-width: 375px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 350px;
      margin: auto;
      position: relative;

      &.no-shadow {
        &:after {
          display: none;
        }
      }

      @include respond-to(sm) {
        height: 300px;
      }

      img {
        @include respond-to(sm) {
          max-width: 100%;
          height: auto;
        }
      }

      &:after {
      position: absolute;
    z-index: -1;
    content: '';
    background-color: rgba(239, 238, 236, 0.2);
    box-shadow: inset 7px 8px 50px 16px rgba(128, 128, 128, 0.23), 0px 1px 50px 11px rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    width: 130px;
    height: 130px;
    right: 30px;
    transform: rotate(180deg);
    bottom: -50px;
      }

      &_transform {
    img {
      transform: translateY(42px);
    }
  }
  }

  &__info {
    margin-top: 40px;
    font-size: 24px;
    color: $black;
    line-height: 1.5;
    text-align: center;

     @include respond-to(sm) {
      margin-top: 10px;
     }

    h4 {
      font-family: $OpenSans;
      font-size: 24px;
      font-weight: 600;
    }

    p {
      width: 100%;
      font-weight: 400;
      text-align: center;
      font-size: 16px;
      font-family: $OpenSans;
      color: $black;
    }
  }

  &__price {
    margin-top: 4px;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    font-family: $DINPro;
    font-size: 24px;
    font-weight: 800;
    height: 45px;

    span {
      transform: translateY(-10px);
      margin-left: 6px;
      font-size: 48px;
    }

    @include respond-to(sm) {
      margin-top: 0;
    }
  }

  &__button {
    margin: 24px auto 0;
    width: 258px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 31px;
    background-color: #c70b6a;
    color: $white;
    font-family: $Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 33.82px;
    text-transform: uppercase;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .header__phone span {
    transform: translateY(-27px);
  }

  .footer__phone span {
    transform: translateY(-3px);
  }

  .main .main-slider .stock__title {
    transform: translate(-15px, -115px);
  }

  .drink-item__price {
    transform: translateY(-3px);

    span {
      transform: translateY(-6px);
    }
  }
}


.field {
  border: none;
  border-bottom: 1px solid rgb(178, 178, 178);
  background-color: transparent;
  display: block;
  width: 530px;
  font-size: 19px;
  font-family: $OpenSans;
  color: $black;
  padding: 15px 0;

  &::placeholder { 
    color: $black;
    opacity: 1; 
  }

  &:-ms-input-placeholder { 
    color: $black;
  }

  &::-ms-input-placeholder { 
    color: $black;
  }
  
  &:focus {
    outline: none;
  }
}

.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( 0deg, rgb(220,0,104) 0%, rgb(129,47,113) 100%);
  font-size: 26px;
  border-radius: 44px;
  font-family: $Roboto;
  color: $white;
  text-transform: uppercase;
  width: 327px;
  height: 88px;
  outline: none;
  border: none;

  @include respond-to(xs) {
    width: 100%;
    font-size: 22px;
    height: 62px;
  }
}

.checkbox {
    max-width: 430px;
    display: block;
    position: relative;
    padding-left: 41px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    font-family: $OpenSans;
    color: $black;
    line-height: 19px;

    a {
      text-decoration: underline;
      color: $black;
    }
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid rgb(178, 178, 178);
    background-color: transparent;
    width: 36px;
    height: 36px;

}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 11px;
    top: 5px;
    width: 7px;
    height: 14px;
    border: solid $black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


///////////////////////////////////////////////

.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 19px;
    font-family: $OpenSans;
    color: $black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio span {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #d7d7d7;
    border-radius: 50%;
}

.radio input:checked ~ span {
    background-color: #c70b6a;
}
.radio span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #efeeec;
}


///////////////////////////////////


.overlay {
  position: fixed;
  cursor: pointer;
  // position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: $white;
  z-index: 10;
  width: 100%;
  transform: translateY(-1000vh);
  transition: $delay;


  &.show {
    transform: translateY(0);
  }

  @include respond-to(md) {
    top: 60px;
  }
}


.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(199, 11, 106);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: $delay;


  &:hover {
    opacity: .8;
  }

  span {
    transform: rotate(45deg);
    display: block;
    font-size: 52px;
    color: $white;
  }
}

.breadcrumbs {
  position: absolute;
  left: 125px;
  bottom: -15px;
  display: flex;

  @include respond-to(md) {
    left: 0;
    bottom: -25px;
  }

  &__item {
  margin-right: 18px;
  color: #c70b6a;
  font-family: $OpenSans;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  }
}

.to-top {
    z-index: 3;
    right: 20px;
    bottom: 20px;
    position: fixed;
    transition: $delay;
    transform: translateY(-100vh);

    &.show {
      transform: translateY(0);
    }

  img {
    @include respond-to(xs) {
      width: 50px;
      height: 50px;
    }
  }
}