.footer {
  position: relative;
  background-color: rgb(239, 238, 236);
  padding-bottom: 60px;

  @include respond-to(xs) {
    padding-bottom: 10px;
  }

  &:before {
    position: absolute;
    content: '';
    top: -158px;
    height: 650px;
    z-index: 1;
    background-color: rgb(239, 238, 236);

    @include respond-to(md) {
        top: -70px;
        height: 130px;
    }
  }

  .wrapper {
    padding-top: 45px;
    position: relative;
    z-index: 1;

    @include respond-to(md) {
      padding-top: 0;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;

    @include respond-to(md) {
      flex-wrap: wrap;
    }

    @include respond-to(xs) {
        flex-direction: column;
        align-items: center;
    }
  }

  &__column {
    max-width: 150px;

    @include respond-to(md) {
        max-width: 100%;
        width: 220px;
    }
  }

  h3 {
    margin-top: 47px;
    font-size: 24px;
    font-family: $DINPro;
    color: $black;
    height: 50px;

    @include respond-to(xs) {
      margin-top: 35px;
      height: auto;
    }
  }

  &__image {
    height: 90px;

    @include respond-to(md) {
      display: none;
    }
  }

  &__list {
    margin-top: 24px;

    @include respond-to(md) {
      
    }
  }

  &__item {
    margin-bottom: 13px;
  }

  &__link {
    white-space: nowrap;
    font-size: 16px;
    font-family: $OpenSans;
    color: $black;
  }

  &__bottom {
    padding-top: 150px;

    @include respond-to(md) {
      padding-top: 80px;
    }
  }

  &__row {
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;


    &:first-child {
      
      @include respond-to(xs) {
        flex-direction: column;
      }
    }
  }

  &__logo {
    max-width: 225px;
  }

  &__contact {
    letter-spacing: -2.2px;
  }

  &__mail {
    transform: translateY(-20px);
    letter-spacing: 0;
    display: block;
    text-align: right;
    color: $black;
    font-size: 16px;
    font-family: $OpenSans;

    @include respond-to(xs) {
      text-align: left;
      margin: 20px 0;
    }
  }

  &__phone {
    font-family: $DINPro;
    color: $black;
    font-weight: 500;
    font-size: 54px;
    display: flex;
    align-items: flex-start;

    span {
      margin: 5px 6px 0 0;
      letter-spacing: 0;
      font-size: 18px;
    }
  }

  &__copyright {
    margin-top: 15px;
    font-size: 13px;
    font-family: $OpenSans;
    color: rgb(115, 115, 115);

    @include respond-to(xs) {
      margin-top: 0;
      margin-right: 10px;
    }
  }

  &_oh {

  }
}

.soc-nav {
  display: flex;
  position: absolute;
  top: -224px;
  right: 14px;

  @include respond-to(md) {
    right: 15px;
    top: -135px;
  }

  @include respond-to(xs) {
    width: 100%;
    justify-content: space-between;
    right: 0;
    padding: 0 15px;
  }

  &__item {
    margin-left: 19px;

    @include respond-to(xs) {
      margin-left: 0;
    }
  }

  &__link {


    img {
      @include respond-to(xs) {
        width: 40px;
        height: 40px;
      }
    }
  }
}