.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  @include respond-to(md) {
    position: fixed;
    background-color: #efeeec;
    box-shadow: 5px 5px 8px #888888;
  }

  &__logo {
     @include respond-to(md) {
        max-width: 150px;
        height: auto;
     }

     @include respond-to(xs) {
        max-width: 110px;
     }
  }

  & > .wrapper {
    padding-top: 70px;

    @include respond-to(md) {
        padding-top: 30px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    @include respond-to(xs) {
        padding: 20px 15px 10px;
        align-items: center;
     }
  }

  &__top {
    position: relative;
  }

  &__fixed {
    z-index: 3;
    top: 49px;
    max-width: 1350px;
    right: 15px;
    left: 0;
    margin: auto;
    position: fixed;
    display: flex;
    justify-content: flex-end;

    @include respond-to(xl) {
      max-width: 100%;
    }

    @include respond-to(md) {
      top: 29px;
      left: 28px;
    }

    @include respond-to(xs) {
      left: 0;
    }
  }


  &__cart {
    display: block;
    position: relative;

    @include respond-to(xl) {
      position: absolute;
    }

    @include respond-to(md) {
      top: -12px;
      right: 47px;
    }

    @include respond-to(xs) {
      top: -5px;
      right: 38px;
    }

    img {
      @include respond-to(md) {
        top: -12px;
        right: 53px;
        width: 45px;
        height: 45px;
      }

      @include respond-to(xs) {
        width: 40px;
        height: 40px;
      }
    }

    span {
      position: absolute;
      width: 100%;
      bottom: 23px;
      font-family: $OpenSans;
      font-size: 12px;
      color: $white;
      text-align: center;
      font-weight: 600;

      @include respond-to(xs) {
        font-size: 9.5px;
        bottom: 14px;
      }
    }
  }

  &__burger {
    margin-left: auto;
    width: 48px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 30px;
    cursor: pointer;
    position: relative;
    z-index: 6;

         @include respond-to(xl) {
            transform: translateX(-100px);
         }

     @include respond-to(md) {
      transform: none;
      margin-left: 0;
      width: 30px;
      height: 22px;
     }

    span {
      display: block;
      width: 100%;
      background-color: $black;
      height: 4px;
      transition: all .4s;

      @include respond-to(md) {
        height: 3px;
      }
    }

    &.active {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;

      span {
        background-color: $white;


        &:nth-child(2) {
          display: none;
        }

        &:nth-child(1) {
          transform: rotate(45deg) translateY(2px);
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translateY(-2px);
        }
      }
    }
  }

  &__flex {
    margin-left: auto;
    max-width: 796px;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include respond-to(md) {
      margin-left: 0;
      max-width: 100%;
    }
  }

  &__contact {
    margin-top: 71px;
    letter-spacing: -2.2px;

    @include respond-to(md) {
      margin-top: 0;
      margin-left: 15px;
    }

    @include respond-to(xs) {
      margin-top: 6px;
      margin-left: 2px;
    }
  }

  &__phone {
    font-family: $DINPro;
    color: $black;
    font-weight: 500;
    font-size: 54px;
    display: flex;
    align-items: flex-start;

    @include respond-to(md) {
      font-size: 24px;
    }

    @include respond-to(xs) {
      font-size: 20px;
    }

    span {
      margin: 5px 6px 0 0;
      letter-spacing: 0;
      font-size: 18px;

      @include respond-to(md) {
        margin: 2px 3px 0 0;
      }

      @include respond-to(xs) {
        margin: 3px 1px 0 0;
        font-size: 8px;
      }
    }
  }

  &__button {
    margin: 20px 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25.5px;
    background-color: $white;
    width: 206px;
    height: 51px;
    font-size: 16px;
    letter-spacing: 0.3px;
    font-family: $OpenSans;
    color: $black;

    @include respond-to(md) {
      width: 100%;
      height: 0;
      display: inline;
      font-size: 13px;
      background-color: transparent;
    }

    @include respond-to(xs) {
      font-size: 9px;
    }
  }
}

.main .main-slider .slick-dots {
  &.hide {
    z-index: -1;
  }
}

.site-menu {
  width: 100%;
  padding-top: 115px;
  position: absolute;
  z-index: 5;
  background-image: linear-gradient(to bottom, #c70b6a, #c70b6a);
  height: 100vh;
  color: $white;
  transition: $delay;
  transform: translateY(-1000vh);
  overflow-y: auto;

  @include respond-to(md) {
    padding-top: 65px;
  }

  &.show {
    transform: none;
    transition: $delay;
  }

  .wrapper {
    max-width: 987px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__column {
    width: 33.33333%;
    margin-bottom: 55px;

    @include respond-to(md) {
      width: 50%;
    }

    @include respond-to(xs) {
      width: 100%;
      margin-bottom: 25px;
    }

    &_first {
      .site-menu__item {
        width: 50%;

        @include respond-to(md) {
          width: 100%;
        }
      }
    }

    &_third {
      .site-menu__item {
        width: 50%;

        @include respond-to(md) {
          width: 100%;
        } 
      }
    }
  }

  &__list {
    padding-right: 55px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond-to(md) {
      padding-right: 0;    
    }
  }

  &__item {
    width: 100%;
    margin-bottom: 21px;

    @include respond-to(md) {
      margin-bottom: 10px;
    }
  }

  &__link {
    text-align: right;
    color: $white;
    font-family: $OpenSans;
    font-size: 20px;

    @include respond-to(md) {
      font-size: 15px;
    }
  }

  h3 {
    font-family: $DINPro;
    font-size: 30px;
    line-height: 1.8;
    text-transform: uppercase;

    @include respond-to(md) {
      font-size: 24px;
    }
  }
}


