
/* FONTS */

$Roboto: 'Roboto';
$OpenSans: 'Open Sans';
$DINPro: 'DIN Pro';
$MyriadPro: 'Myriad Pro';
$Christopher: 'Christopher';

/* COLOR */

$white: #fff;
$black: #000;



/* TRANSITION */
$delay: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
$ease: 0.3s ease;
