.cards {
	padding-top: 70px;

	&_two {
		padding-top: 48px;
		margin-bottom: 100px;
	}

	&_three {
		padding-top: 87px;
		margin-bottom: 215px;

		h3 {
			text-transform: uppercase;
		}
	}

	h3 {
	color: $black;
	font-family: $DINPro;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: -1.2px;

	@include respond-to(xs) {
		font-size: 28px;
	}

	}

	&__text {
		
		p {
			padding: 33px 0 55px;
			color: $black;
			font-family: $OpenSans;
			font-size: 19px;
			font-weight: 400;
			line-height: 28px;

			@include respond-to(xs) {
			    padding: 23px 0 35px;
			    font-size: 16px;
			    line-height: 22px;
			}
		}
	}

	&__container {
		margin: 0 -30px;
		display: flex;
		flex-wrap: wrap;

		@include respond-to(sm) {
			margin: 0 -15px;
		}
	}


	&__column {
		margin-bottom: 40px;
		width: 33.33333%;
		padding: 0 30px;

		@include respond-to(md) {
			width: 50%;
		}

		@include respond-to(sm) {
			padding: 0 15px;
		}

		@include respond-to(xs) {
			width: 100%;
		}
	}

	&__item {
		background-color: #efeeec;
	}

	&__image {
		width: 100%;
		height: auto;
	}

	&__form {
		padding: 19px 5px 34px;
		text-align: center;
	}

	&__name {
		color: $black;
		font-family: $OpenSans;
		font-size: 19px;
		font-weight: 400;
		line-height: 28px;
	}

	&__select {
		cursor: pointer;
		background-color: transparent;
		width: 100%;
		max-width: 239px;
		height: 52px;
		border-radius: 26px;
		border: 2px solid #bababa;
	    margin: 19px auto 0;
	    padding: 0 15px 5px;
		display: block;
		color: $black;
		font-family: $OpenSans;
		font-size: 19px;
		font-weight: 400;
		line-height: 28px;
		background-image: url('../img/select-arrow.svg');
		background-repeat: no-repeat;
		background-position-y: center;
    	background-position-x: 208px;
		-moz-appearance:none; 
    	-webkit-appearance:none; 
    	appearance:none;
	}

	&__sum {
		display: block;
		margin-top: 13px;
		font-family: $DINPro;
		color: $black;
		font-size: 36px;
		font-weight: 500;
		letter-spacing: -0.9px;

		span {
			font-size: 24px;
			font-weight: 700;
			letter-spacing: -0.6px;
		}
	}

	&__button {
		margin: 24px auto 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 188px;
		height: 62px;
		border-radius: 31px;
		background-color: #c70b6a;
		color: $white;
		font-family: $Roboto;
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;
	}

	&__delete {
		margin: 10px auto 0;
		display: block;
		width: 65px;
		color: #c70b6a;
		font-family: $OpenSans;
		font-size: 16px;
		font-weight: 400;
		text-decoration: underline;
	}
}

.bar-choosing {
	padding-top: 265px;
	background-color: #dfdfdf;
	position: relative;

	&:before {
		position: absolute;
    	width: 100%;
    	content: '';
    	top: -138px;
    	transform: skewY(-7.8deg);
    	height: 280px;
    	background-color: #efeeec;
    	z-index: 0;
	}

	.wrapper {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;

		@include respond-to(md) {
			flex-direction: column;
		}

		@include respond-to(xs) {
			max-width: 750px;
		}
	}

	&__info {
		max-width: 340px;
		padding-top: 64px;

		@include respond-to(md) {
			padding-top: 0;
		}

		h3 {
		margin-top: 9px;
		font-size: 48px;
  		font-family: $DINPro;
  		color: $black;
  		font-weight: 700;
	}
		p {
			padding-top: 44px;
			color: $black;
			font-family: $OpenSans;
			font-size: 19px;
			font-weight: 400;
			line-height: 28px;
		}
	}

	&__catalog {
		width: 770px;

		@include respond-to(xl) {
			width: 65%;
		}

		@include respond-to(md) {
			margin: 50px auto 0;
    		width: calc(100% - 100px);
    		max-width: 600px;
		}

		@include respond-to(xs) {
			width: 100%;
		}
	}

	&__slider {

		@include respond-to(xs) {
			margin-top: 10px;
		}

		.slick-arrow {
					width: 37px;
					height: 70px;
					top: 193px;
    				bottom: initial;
					background-size: 100% 100%;
					transition: $delay;
					z-index: 1;

						&:before {
							display: none;
						}

						&:hover {
							opacity: .8;
						}

						@include respond-to(sm) {
							top: 25.1629726205997392vw;
						}	

						@include respond-to(xs) {
							top: -30px;
							width: 22px;
							height: 30px;
						}

					&.slick-prev {
						left: 5px;
						background-image: url('../img/arrow-left2.svg');

						@include respond-to(md) {
							left: -50px;
						}
						@include respond-to(xs) {
							left: 0;
						}
					}

					&.slick-next {
						right: 5px;
						background-image: url('../img/arrow-right2.svg');

						@include respond-to(md) {
							right: -50px;
						}

						@include respond-to(xs) {
							right: 0;
						}
					}
				}
	}

	&__item {

	}

	&__image {
		margin: auto;
    	max-width: 540px;
		height: 390px;

		img {
			display: flex;
			margin: auto;
			max-width: 100%;
			height: auto;
		}

		@include respond-to(md) {
			max-width: 100%;
			height: 440px;
		}

		@include respond-to(sm) {
			height: 60vw;
		}

		@include respond-to(xs) {
			height: 80vw;
		}
	}

	&__form {
	    margin: 67px 0 0 40px;
	    max-width: 483px;

	    @include respond-to(sm) {
	    	margin: 0;
	    }
	}

	&__sum {
		margin-right: 35px;
		display: block;
		color: $black;
		font-family: $DINPro;
		font-size: 72px;
		font-weight: 500;
		line-height: 64px;
		text-transform: uppercase;
		letter-spacing: -1.8px;

		@include respond-to(sm) {
			margin-right: 0;
		}

		@include respond-to(xs) {
			margin-bottom: 20px;
		}
	}

	&__flex {
		display: flex;
		align-items: center;

		@include respond-to(sm) {
		    justify-content: space-between;
		}

		@include respond-to(xs) {
			flex-direction: column;
		}
	}

	&__button {
		margin: 34px 0 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 276px;
		height: 62px;
		border-radius: 31px;
		background-color: #c70b6a;
		color: $white;
		font-family: $Roboto;
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;

		@include respond-to(xs) {
		    margin: 34px auto 0;
		}
	}
}