.text-info {
  margin-top: 50px;
  position: relative;
  z-index: 1;

  @include respond-to(md) {
  	margin-top: -20px;
  }

  @include respond-to(xs) {
  	margin-top: -50px;
  }

  h1 {
    font-size: 80px;
    font-family: $DINPro;
    color: $black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: 50px;

    @include respond-to(md) {
    	font-size: 60px;
      margin-bottom: 30px;
    }

     @include respond-to(xs) {
     	font-size: 40px;
     }
  }

  p {
    padding-top: 20px;
    max-width: 750px;
    font-size: 19px;
    font-family: $OpenSans;
    color: $black;
    line-height: 1.474;

    @include respond-to(md) {
    	padding-top: 15px;
    }

    @include respond-to(xs) {
    	padding-top: 10px;
    	font-size: 17px;
    }
  }

  &_interactive {
  	p {
  		max-width: 100%;
  	}
  }
}

.drinks {
  margin-bottom: 255px;

  &__mobile {
  	display: none;

  	@include respond-to(sm) {
  		display: block;
  	}

  	.drinks__catalog {
  		padding-bottom: 20px;
  	}


  			.drink-item__image {
  				@include respond-to(sm) {
  					max-width: 255px;
  					height: 300px;
  				}

  				&_one {
  				@include respond-to(sm) {
  				    transform: translateX(-30px);
  					}
  				}

  				&_two {
  				@include respond-to(sm) {
  				    transform: translateX(-5px);
  					}
  				}

  				&_three {
  				@include respond-to(sm) {
  				    transform: translateX(20px);
  					}
  				}

  				&_four {
  				@include respond-to(sm) {
  				    transform: translateX(-20px);
  					}
  				}

  				&_five {
  				@include respond-to(sm) {
  				    transform: translateX(-32px);
  					}

            img {
              transform: translateY(42px);
            }
  				}

          &_seven {
            @include respond-to(sm) {
              transform: translateX(12px);
            }
          }

          &_nine {
            @include respond-to(sm) {
              transform: translateX(20px);
            }
          }

          &_ten {
            @include respond-to(sm) {
              transform: translateX(-4px);
            }   
          }

          &_twelve {
            @include respond-to(sm) {
              transform: translateX(12px);
            }
          }
  			}
  }

  &__desktop {
  	@include respond-to(sm) {
  		display: none;
  	}
  }

  @include respond-to(md) {
  	margin-bottom: 170px;
  }


  &:before {
    background-color: #efeeec;
    top: 240px;
    height: 955px;

    @include respond-to(md) {
    	height: calc(100% - 150px);
    }
  }

  &_cocktail-bar {
  	&:before {
  		top: 180px;
    	height: 1085px;	
  	}

  	.drink-item__image {
  				@include respond-to(sm) {
            margin-top: 40px;
  					max-width: 255px;
  					height: 250px;
  				}

  				&_one {
  				@include respond-to(sm) {
  				    transform: translateX(-30px);
  					}
  				}

  				&_two {
  				@include respond-to(sm) {
  				    transform: translateX(-5px);
  					}
  				}

  				&_three {
  				@include respond-to(sm) {
  				    transform: translateX(20px);
  					}
  				}

  				&_four {
  				@include respond-to(sm) {
  				    transform: translateX(-20px);
  					}
  				}

  				&_five{
  				@include respond-to(sm) {
  				    transform: translateX(-32px);
  					}
  				}		
  			}
  }

  &__nav {
    margin-top: 135px;
    display: flex;

    @include respond-to(md) {
    	margin-top: 75px;
    }

    @include respond-to(sm) {
    	flex-direction: column;
    }
  }

  &__link {
    padding: 0 40px;
    font-size: 19px;
    font-family: $OpenSans;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 252, 249);
    height: 74px;
    border-left: 1px solid rgb(206, 206, 206);
    border-top: 1px solid rgb(206, 206, 206);
    border-bottom: 1px solid rgb(206, 206, 206);
    transition: $delay;

    @include respond-to(lg) {
    	padding: 0 10px;
    	width: 100%;
    	height: 45px;
        letter-spacing: -0.5px;
    	font-size: 16px;
    }

    &:hover {
      background-color: $white;
    }

    &.active {
      background-color: rgb(199, 11, 106);
      color: $white;
    }


      @include respond-to(sm) {
      	border-right: 1px solid rgb(206, 206, 206);
      	border-bottom: none;
      }

      &_last {
      	@include respond-to(sm) {
			border-bottom: 1px solid rgb(206, 206, 206);
    		}
  		}

    &:nth-child(1) {
      border-top-left-radius: 35px;
      border-bottom-left-radius: 35px;

      @include respond-to(sm) {
      	border-top-left-radius: 0;
      	border-bottom-left-radius: 0;
      }
    }

    &:last-child {
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px;
      border-right: 1px solid rgb(206, 206, 206);

      @include respond-to(sm) {
      	border-top-right-radius: 0;
      	border-bottom-right-radius: 0;
      }
    }
  }

  &__content {
  }

  &__catalog {
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
  }

}

.advantages {


  .wrapper {
    display: flex;
    justify-content: space-between;

    @include respond-to(sm) {
    	flex-direction: column;
    }
  }

  &__item {
    padding: 16px 0 35px;
    width: 33.3333333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include respond-to(sm) {
    	width: 100%;
    }

    &:nth-child(2) {
      border-left: 1px solid rgb(216, 216, 216);
      border-right: 1px solid rgb(216, 216, 216);

      @include respond-to(sm) {
      	border-top: 1px solid rgb(216, 216, 216);
      	border-bottom: 1px solid rgb(216, 216, 216);
      	border-left: 1px solid transparent;
      	border-right: 1px solid transparent;
      }
    }

    * {
      display: block;
    }

    &-number {
      font-size: 110px;
      font-family: $DINPro;
      font-weight: 700;
      color: rgb(199, 11, 106);
    }

    &-title {
      margin-top: 9px;
      max-width: 50%;
      font-size: 30px;
      font-family: $OpenSans;
      color: $black;
      font-weight: 700;

      @include respond-to(md) {
      	max-width: 100%;
      }
    }

    p {
      max-width: 75%;
      margin-top: 28px;
      font-size: 19px;
      font-family: $OpenSans;
      color: $black;
      line-height: 1.474;

      @include respond-to(sm) {
      	max-width: 100%;	
      }

      @include respond-to(xs) {
      	margin-top: 10px;
      }
    }
  }
}

.steps {
	padding-top: 145px;

	@include respond-to(xs) {
		padding-top: 35px;
	}

	&__counter {
			display: flex;
			align-items: center;

			a {
			position: relative;
			border-radius: 50%;
			color: $black;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 95px;
  			height: 95px;
  			border: 1.5px solid rgba(0, 0, 0, 0.1);
  			font-family: "DIN Pro";
    		font-size: 60px;
    		font-weight: 300;
    		padding-bottom: 6px;

    		@include respond-to(lg) {
    			width: 75px;
    			height: 75px;
    		    font-size: 45px;
    		}

			&:before {
				position: absolute;
				content: '';
				border-radius: 50%;
				border: 1.5px solid rgba(0, 0, 0, 0.25);
				width: 75px;
    			height: 75px;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;

				@include respond-to(lg) {
    			width: 55px;
				height: 55px;
    			}
			}
		}

		input  {
			width: 110px;
			display: block;
			text-align: center;
			border: none;
			font-size: 60px;
  			font-family: $DINPro;
  			color: black;
  			background-color: transparent;

  			@include respond-to(lg) {
    			width: 95px;
    			font-size: 50px;	
    		}

  			&:focus {
  				outline: none;
  				border: none;
  				box-shadow: none;
  			}

  			&::-webkit-inner-spin-button, 
			&::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
  				margin: 0; 
			}
		}
		}

	.wrapper {
		position: relative;
	}

	&__back {
		position: absolute;
		bottom: -130px;
    	left: 20px;
		width: 331px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 3px solid rgb(199, 11, 106);
		border-radius: 44px;
  		height: 92px;
  		font-size: 26px;
  		font-weight: 500;
  		font-family: $Roboto;
  		color: rgb(199, 11, 106);
  		text-transform: uppercase;

  		@include respond-to(md) {
				bottom: 36px;
			}

			@include respond-to(sm) {
				margin: auto;
				position: static;
			}

			@include respond-to(xs) {
				width: 100%;
				position: static;
				font-size: 22px;
  				height: 62px;
			}
	}

	&__next {
		position: absolute;
		bottom: -70px;
    	right: 20px;
		width: 331px;

		@include respond-to(md) {
			bottom: 0;
			right: 15px;

		}

		@include respond-to(sm) {
			position: static;
			left: 0;
			right: 0;
			margin: 20px auto 0;
			padding: 0;
		}

		@include respond-to(xs) {
			width: 100%;
		}
		
		&-button {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 3px solid rgb(199, 11, 106);
		border-radius: 44px;
		width: 100%;
  		height: 92px;
  		font-size: 26px;
  		font-weight: 500;
  		font-family: $Roboto;
  		color: rgb(199, 11, 106);
  		text-transform: uppercase;

  		@include respond-to(xs) {
  			font-size: 22px;
  			height: 62px;
  		}
		}
	}

	&__quick {
	    margin-top: 17px;
		text-align: center;
		text-decoration: underline;
		display: block;
		font-size: 19px;
  		font-family: $OpenSans;
  		color: rgb(199, 11, 106);

  		@include respond-to(xs) {
  			margin-top: 15px;
  			font-size: 17px;
  		}
	}

	&__text {
		max-width: 520px;
  		color: $black;

		h3 {
  			font-size: 48px;
  			font-family: $DINPro;
  			font-weight: 700;
  			letter-spacing: -1.1px;

  			@include respond-to(xs) {
  				font-size: 30px;
  			}
		}

		p {
			margin-top: 31px;
    		line-height: 28px;
			font-size: 19px;
  			font-family: $OpenSans;

  			@include respond-to(xs) {
  			    margin-top: 20px;
    			line-height: 24px;
   				font-size: 16px;
  			}

        a {
          color: $black;
        }
		}
	}

	&__container {
	    margin-top: 190px;
		background-color: #efeeec;
		position: relative;

		&:after {
			position: absolute;
			content: '';
			width: 100%;
			height: 200px;
			left: 0;
			bottom: -200px;
		    background-color: #efeeec;
		    z-index: -1;
		}
		

		&:before {
		position: absolute;
		content: '';
		width: 100%;
		top: -150px;
	 	transform: skewY(-7.8deg);
	 	height: 300px;
	 	background-color: rgb(239, 238, 236);
	 	z-index: -1;
		}
	}

	&__header {
		transform: translateY(-124px);
		
		.wrapper {
			display: flex;
		    justify-content: space-between;
		}
	}

	&__name {
		max-width: 425px;
		display: flex;	
	    align-items: flex-end;
    	letter-spacing: -0.6px;
		color: rgb(215, 215, 215);
  		font-family: $DINPro;
  		cursor: pointer;
  		transition: .5s;

  		&:hover {
  			opacity: .8;
  		}

  		@include respond-to(lg) {
  			max-width: 290px;
  		}

  		@include respond-to(md) {
  			max-width: 210px;
  		}

		p {
			display: none;
			padding-left: 25px;
			margin-bottom: 19px;
			font-size: 32px;
			text-transform: uppercase;
			font-weight: 700;


			@include respond-to(lg) {
				margin-bottom: 14px;
			    padding-left: 8px;
    			margin-bottom: 19px;
    			font-size: 22px;
			}

			@include respond-to(md) {
				font-size: 16px;
				margin-bottom: 8px;
			}
		}

		&.active {
			color: rgb(199, 11, 106);

			p {
				display: block;

				@include respond-to(xs) {
					display: none;
				}
			}
		}
	}

	&__number {
		display: block;
		font-size: 170px; 
	    letter-spacing: -16px; 

	    @include respond-to(lg) {
	    	font-size: 140px;
	    	letter-spacing: -8px;
	    }

	    @include respond-to(md) {
	    	font-size: 80px;
	    }

	    @include respond-to(xs) {
	    	font-size: 60px;
	    }	
	}

	&__list {
		max-width: 1200px;
    	margin: -35px auto 0;
    	position: relative;
		overflow: hidden;
	}

	&__item {
		background-color: #efeeec;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
    	padding-bottom: 122px;
    	transition: 1.5s;
    	transform: translateX(100vw);
    	
    	&.active {
    		
    	    transform: translateX(0);
    	}

    	@include respond-to(sm) {
    		padding-bottom: 0;
    	}

    	&_type {
    		
    	}

    	&_count {
    		
    	}

    	&_options {
    		padding-bottom: 130px;
    	}

    	&_staff {
    		
    	}
	}

	.type {
		display: flex;

		@include respond-to(md) {
		    flex-direction: column;
    		align-items: center;
    		height: 400px;
		}

		.steps__back {
			display: none;
		}

		.steps__next {
			display: none;
		}

		&__list {
		    height: 497px;
			padding-top: 39px;
			position: relative;

			@include respond-to(lg) {
				padding-top: 0;
				height: 385px;
			}

			@include respond-to(md) {
				height: auto;
			}

			&:after {
				position: absolute;
				content: '';
				background-color: rgb(215, 215, 215);
				top: 0;
				right: 20px;
				width: 1px;
				height: 100%;

				@include respond-to(md) {
					display: none;
				}
			}
		}	


		&__column {
			transition: 1s;

			&-link {
				display: none;
				margin-top: 20px;
				text-decoration: underline;
    			font-size: 16px;
    			font-family: $OpenSans;
    			color: #c70b6a;
    			position: absolute;
    			right: -100000vw;

    			@include respond-to(md) {
    				position: static;
    				right: initial;
    			}
			}

			&.mob-hide {
					@include respond-to(md) {
						transform: translateX(-100vw);
						position: absolute;
						z-index: 2;
						background-color: #efeeec;
					}
				}


			&_one {
				.type__list {
					margin-left: -79px;
 					width: 485px;

 					@include respond-to(lg) {
 						width: 345px;
 						margin-left: 0;

 					}

 					@include respond-to(md) {
 							width: 100%;
 							max-width: 500px;
 							margin-left: 0;
 						}
				}
			}

			&_two {
				.type__list {
					margin-left: -56px;
					width: 380px;

					@include respond-to(lg) {
 						width: 260px;
 						margin-left: -30px;
 					}

 					@include respond-to(md) {
 							width: 100%;
 							max-width: 500px;
 							margin-left: 0;
 						}
				}
			}

			&_three {
				margin-top: 57px;
				margin-left: 5px;

				@include respond-to(md) {
					margin-top: 0;
					margin-left: 0;
				}
			}
		}
		
		&__row {
			margin-bottom: 18px;
			width: 390px;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			@include respond-to(lg) {
				width: 367px;
			}

			@include respond-to(md) {
 				width: 100%;
 				max-width: 500px;
 				margin-left: 0;
 			}
		}

		&__item {

			a {
				display: flex;
				align-items: center;
				padding-left: 80px;
				height: 90px;
				font-size: 24px;
  				font-family: $OpenSans;
  				color: $black;

  				@include respond-to(lg) {
  					padding-left: 45px;
  					font-size: 18px;
  					height: 65px
  				}

  				@include respond-to(md) {
  					padding-left: 0;
  				}

  				@include respond-to(xs) {
  					height: 50px;
  				}

				img {
				    margin-right: 25px;
					display: block;
				    max-height: 50%;

				    @include respond-to(lg) {
				    	margin-right: 15px;
				    }
				}

				span {
					display: block;
				}
			}

			&.active {
				@media only screen and (min-width: 992px)  {
				a {
					color: $white;
					background-image: url('../img/gradient-bg.png');
					background-size: 100% 100%;
					position: relative;
					z-index: 1;
					overflow: hidden;


					&:hover {
						opacity: 1;
					}

					img {
						margin-top: 75px;
    					margin-left: -38px;
    					max-height: initial;
    					height: 162%;

    					@include respond-to(lg) {
				    		margin-left: 0;
				    		margin-right: 5px;
				    	}
					}
				}
				}
			}
		}

		.radio {
			@include respond-to(xs) {
				font-size: 17px;
				padding-left: 28px;
				width: 50%;
			}
		}


		&__price {
			display: flex;
		    align-items: flex-end;
			font-family: $DINPro;
  			color: $black;

  			@include respond-to(lg) {
  				margin-left: 10px;
  			}

			span {
				margin-right: 5px;
				font-size: 36px;
				display: block;
				font-weight: 500;

				@include respond-to(xs) {
				    transform: translateY(5px);
					font-size: 32px;
				}
			}
		}
                                   
	}

	.count {
		padding: 97px 55px 258px;
		display: flex;
		justify-content: space-between;

		@include respond-to(lg) {
			padding: 40px 55px 160px;
		}

		@include respond-to(md) {
			flex-direction: column;
			align-items: center;
		}

		@include respond-to(sm) {
			padding: 0px 15px 150px;
		}

		.steps__back {
			bottom: -34px;

			@include respond-to(md) {
				bottom: 36px;
			}
		}

		&__column {
			margin-bottom: 45px;

			p {
				text-align: center;
				font-size: 24px;
  				font-family: $OpenSans;
  				color: $black;
  				height: 46px;

  				@include respond-to(xs) {
  					font-size: 20px;
  				}

  				span {
  					margin-top: 8px;
  					color: #6a6a6a;
  					display: block;
    				font-size: 14px;
  				}
			}
		}
	
	}

	.options {
	    // transform: translateY(-26px);

	    @include respond-to(md) {
	    	padding-bottom: 180px;
	    }

	    @include respond-to(sm) {
	    	padding-bottom: 0;
	    }

	    &__container {
	    	max-width: 805px;
	    }

			&__title {
				margin-bottom: 25px;
				font-family: $OpenSans;

				@include respond-to(xs) {
					margin-bottom: 95px;
				}

				h4 {
				font-size: 24px;
  				color: $black;
				}

				a {
				margin-top: 5px;
				display: block;
				color: rgb(199, 11, 106);
				}
			}


			&__slider {
				margin-bottom: 35px;

				// .slick-track {
				// 	width: 100% !important;
				// }

				&-item {

					padding-bottom: 110px;

				}

				&-counter {
					left: 50%;
					// bottom: -51px;

					bottom: -15px;
					position: absolute;
					display: flex;
					align-items: center;
					transform: translateY(200px);
					transition: $delay;

					a {
					    // top: 60px;

					    top: 25px;

				position: relative;
				border-radius: 50%;
				color: $black;
				display: flex;
				justify-content: center;
				align-items: center;
				// width: 95px;
  		// 		height: 95px;

  				width: 45px;
  				height: 45px;

  				border: 1.5px solid rgba(0, 0, 0, 0.1);
  				font-family: "DIN Pro";
    			// font-size: 60px;

    			font-size: 32px;

    			font-weight: 300;
    			padding-bottom: 6px;

				&:before {
				position: absolute;
				content: '';
				border-radius: 50%;
				border: 1.5px solid rgba(0, 0, 0, 0.25);
				// width: 75px;
				// height: 75px;

				width: 32px;
    			height: 32px;

				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				}
		}

		input  {
			// width: 98px;
			// height: 98px;

			width: 48px;
			height: 48px;

			border-radius: 50%;
			display: block;
			text-align: center;
			border: none;
			// font-size: 60px;

			font-size: 28px;
  			font-family: $DINPro;
  			color: $white;
  			background-color: transparent;
  			background-color: rgb(199, 11, 106);

  			&:focus {
  				outline: none;
  				border: none;
  				box-shadow: none;
  			}

  			&::-webkit-inner-spin-button, 
			&::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
  				margin: 0; 
			}
		}
		}

				&-image {
					width: 181px;
					height: 181px;
  					border-radius: 50%;
  					position: relative;
  					border: 3px solid transparent;
  					cursor: pointer;
  					transition: $delay;

  					@include respond-to(md) {
  					    width: 150px;
    					height: 150px;
  					}

  					@include respond-to(md) {
  						margin: auto;
  						width: 280px;
  						height: 280px;
  					}


					img {
						width: 100%;
						height: 100%;
						border-radius: 50%;
						border: 3px solid transparent;
	  					transition: $delay;
					}

					&:hover {
						border-color: rgb(199, 11, 106);

						img {
							border-color: $white;
						}
					}

					&.active {

						&:hover {
						border-color: transparent;

						img {
							border-color: transparent;
						}
					}

					.options__slider-counter {
						z-index: 1;
						transform: translate(-50%, 0);
					}
					}
				}

				.slick-arrow {
					border-radius: 50%;
					width: 48px;
					height: 48px;
					top: -43px;
					z-index: 1;
    				bottom: initial;
					background-size: 100% 100%;
					transition: $delay;

						&:before {
							display: none;
						}

						&:hover {
							opacity: .8;
						}

						@include respond-to(xs) {
							top: 130px;
						}

					&.slick-prev {
						left: initial;
    					right: 104px;
						background-image: url('../img/arrow-left.png');

						@include respond-to(xs) {
							right: initial;
						}
					}

					&.slick-next {
						right: 35px;
						background-image: url('../img/arrow-right.png');

						@include respond-to(xs) {
							right: 0;
						}
					}
				}
			}

			.checkbox {
				max-width: 750px;
			    margin-bottom: 30px;
				font-size: 18px;
			    letter-spacing: -1.2px;
			    line-height: 20px;
				
				.checkmark {
					width: 32px;
					height: 32px;

					&:after {
						left: 10px;
    					top: 5px;
    					width: 6px;
    					height: 12px;
					}
				}

				

				span {
					font-weight: bold;
					font-size: 19px;
				}
			}

			&__row {
				margin-top: 45px;
				display: flex;
			    align-items: center;

			    @include respond-to(xs) {
			    	margin-top: 35px;
			        flex-direction: column-reverse;
			    }

				.steps__counter {

				}

				&-info {
					max-width: 382px;
  					font-family: $OpenSans;
  				    padding-left: 33px;
  					color: $black;
  					letter-spacing: -1.2px;
			    	line-height: 20px;

			    	@include respond-to(xs) {
			    		margin-bottom: 15px;
			    	}

					h4 {
						font-weight: 700;
						font-size: 19px;
					}

					p {
						padding-top: 6px;
						font-size: 17px;

					}
				}
			}

			.steps__back {
				margin-top: 30px;
			}

			.steps__next {
				bottom: -105px;

				@include respond-to(md) {
					bottom: 0;
				}
			}
		}

		.staff {
			padding: 97px 55px 258px;
		display: flex;
		justify-content: space-between;

		@include respond-to(lg) {
			padding: 40px 55px 160px;
		}

		@include respond-to(md) {
			flex-direction: column;
			align-items: center;
		}

		@include respond-to(sm) {
			padding: 0px 15px 150px;
		}

		.steps__back {
			bottom: -34px;

			@include respond-to(md) {
				bottom: 36px;
			}
		}

		&__column {

			@include respond-to(md) {
				display: flex;
				flex-direction: column;
		  		align-items: center;
				margin-bottom: 45px;
			}

			p {
				text-align: center;
				font-size: 24px;
  				font-family: $OpenSans;
  				color: $black;
  				height: 46px;

  				@include respond-to(xs) {
  					font-size: 20px;
  					height: auto;
    				margin-bottom: 15px;
  				}

  				span {
  					margin-top: 8px;
  					color: #6a6a6a;
  					display: block;
    				font-size: 14px;
  				}
			}
		}
		}

		.results {
		    padding-right: 0;

		    @include respond-to(lg) {
		    	padding-right: 15px;
		    }

			&__services {
				display: flex;
			    // transform: translateY(-16px);

			    @include respond-to(sm) {
					flex-direction: column;	
				}

				&-item {
				    margin-bottom: 13px;
					display: flex;
					align-items: center;
					justify-content: space-between;

					span {
						display: block;
	    				font-family: $OpenSans;
						font-size: 24px;
  						color: $black;

  						@include respond-to(lg) {
  							font-size: 20px;
  						}

  						@include respond-to(xs) {

  						}
					}
				}

				&-close {
					margin-left: 16px;
					border-radius: 50%;
  					background-image: url('../img/close.png');
  					background-size: 100%;
  					min-width: 41px;
  					width: 41px;
  					height: 41px;
  					cursor: pointer;
  					transition: $delay;

  					&:hover {
  						opacity: .8;
  					}
				}

				&-link {
					margin-top: 4px;
				    max-width: 200px;
					margin-left: 68px;
					line-height: 28px;
    				margin-top: 9px;
					display: block;
					font-size: 19px;
    				font-family: $OpenSans;
    				text-decoration: underline;
  					color: rgb(199, 11, 106);

  					@include respond-to(sm) {
  						margin-left: 0;
  					}
				}
			}


			&__container {
				margin-top: 15px;
			}
			&__row {
				display: flex;
				justify-content: space-between;
				align-items: center;

				@include respond-to(md) {
					flex-direction: column;
				}

				h4 {
						height: 50px;
						width: 50%;
						font-size: 24px;
  						font-family: $OpenSans;
  						color: $black;
  						line-height: 1.2;

  						@include respond-to(lg) {
  							font-size: 20px;
  						}

  						@include respond-to(md)  {
  							margin-top: 15px;
  							width: 100%;
  							height: auto;
  						}

  						span {
  							display: block;
  						}
					}

				&_one {

				.results__count {
   					margin-top: 13px;

   					@include respond-to(md) {
   						margin-top: 30px;
   					}
				}
				}

				&_two {
					margin-top: 61px;

					@include respond-to(md) {
   						margin-top: 30px;
   					}
				}

				&_three {
					margin-top: 82px;

					@include respond-to(md) {
   						margin-top: 15px;
   					}
				}

				&_four {
					margin-top: 32px;

					@include respond-to(md) {
   						margin-top: 0;
   					}
				}

				&_five {
					margin-top: 80px;

					@include respond-to(md) {
   						margin-top: 30px;
   					}
				}

				&_six {

				}

				&_seven {
					margin-top: 16px;

					@include respond-to(md) {
						margin-top: 0;
					}

					.checkbox {
              padding-left: 48px;
              max-width: 100%;
					    width: 50%;
						  display: block;
    					font-size: 19px;
    					font-family: $OpenSans;
    					text-decoration: underline;
    					color: #c70b6a;
              line-height: 28px;

    					@include respond-to(md) {
    						margin-top: 15px;
    						width: 100%;
    					}
					}
				}
			}

			.steps__counter {
				@include respond-to(md) {
					margin-top: 15px;
				}
			}

			&__count {
				width: 50%;
				display: flex;
				align-items: center;

				@include respond-to(md) {
					width: 100%;
				}

				@include respond-to(xs) {
					flex-direction: column-reverse;
					align-items: flex-start;
				}
				
				p {
				    padding-left: 17px;
					font-size: 24px;
 					font-family: $OpenSans;
  					color: $black;
  					line-height: 1.2;

  					@include respond-to(lg) {
  					    padding-left: 10px;
    					font-size: 20px;
  					}

  					@include respond-to(xs) {
  						margin-top: 20px;
  						padding-left: 0;
  					}
				}
			}

			&__choose-drinks {
				width: 50%;

				@include respond-to(md) {
					margin-top: 30px;
					width: 100%;
				}

				p {
					margin-bottom: 17px;
					font-size: 15px;
 					font-family: $OpenSans;
  					color: $black;
				}
			}

			.radio {
				margin-bottom: 8px;
				padding-left: 39px;
				font-size: 15px;
			    height: 32px;
    			display: flex;
    			align-items: center;

				span {
					width: 32px;
					height: 32px;
					background-color: transparent;
					border: 2px solid rgb(178, 178, 178);

					&:after {
						width: 14px;
						height: 14px;
					}
				}

				input:checked ~ span {
					background-color: transparent;

					&:after {
						background-color: $black;
					}
				}

				.bold {
					margin-bottom: 3px;
					display: block;
					font-size: 18px;
				}	
			}

			&__bar-counters {
				margin-top: 62px;
				display: flex;
				align-items: center;

				@include respond-to(sm) {
					flex-direction: column;
   					align-items: flex-start;
				}


				&-list {
					display: flex;
					flex-wrap: wrap;

					@include respond-to(xs) {
					    width: 100%;
					    align-items: center;
						flex-direction: column;
					}
				}

				&-item {
					width: 180px;
					margin-right: 35px;
					position: relative;

					@include respond-to(sm) {
						margin-bottom: 50px;
						width: 130px;
					}

					@include respond-to(xs) {
						width: 280px;
						margin-right: 0;
					}

					img {
						display: block;
   						margin: auto;
						width: 177px;
						height: 177px;
						border-radius: 50%;

						@include respond-to(sm) {
							width: 130px;
							height: 130px;
						}

						@include respond-to(xs) {
							width: 280px;
							height: 280px;
						}
					}

					p {
						text-align: center;
    					margin-top: 25px;
						font-size: 18px;
 						font-family: $OpenSans;
  						color: $black;
					}
				}

				&-close {
					position: absolute;
					width: 40px;
					height: 40px;
					right: 0;
    				top: 4px;
					background-image: url('../img/close.png');
					background-size: 100% 100%;
					cursor: pointer;
  					transition: $delay;

  					@include respond-to(sm) {
  					    right: 30px;
    					top: 0px;	
  						width: 30px;
  						height: 30px;
  					}

  					@include respond-to(xs) {
  						width: 40px;
    					height: 40px;
    					right: 40px;
    					top: 6px;
  					}

  					&:hover {
  						opacity: .8;
  					}
				}

				a {
					margin-left: 20px;
    				margin-bottom: 52px;
    				line-height: 27px;
    				width: 200px;
					display: block;
    				font-size: 19px;
    				font-family: $OpenSans;
    				color: #c70b6a;
    				text-decoration: underline;  

    				@include respond-to(sm) {
    					margin-bottom: 0;
    				}
				}
			}

			.steps__back {
				@include respond-to(md) {
					margin-top: 30px;
					position: static;
				}
			}

			&__bottom {
				margin-top: 99px;

				@include respond-to(md) {
					margin-top: 40px;
				}

				&-row {
					margin-bottom: 21px;
					width: 100%;
				    max-width: 948px;
					display: flex;
				    justify-content: space-between;
					align-items: center;

					@include respond-to(md) {
						align-items: flex-start;
    					flex-direction: column;
					}

					a {
						display: block;
    					font-family: $OpenSans;
    					color: #c70b6a;
    					font-size: 18px;
    					text-decoration: underline;

    					@include respond-to(xs) {
    						line-height: 24px;
    					}
					}

					p {
						font-family: $OpenSans;
						font-size: 18px;

						@include respond-to(md) {
							margin-bottom: 10px;
						}

						@include respond-to(xs) {
    						line-height: 20px;
    					}

						span {
							font-weight: 700;
						}

						a {
							display: inline;
						}
					}
				}
			}

			&__sum {
				font-size: 140px;
  				font-family: $DINPro;
  				color: rgb(199, 11, 106);
  				font-weight: 600;
  			    letter-spacing: -4px;

  			    @include respond-to(xs) {
  			    	font-size: 80px;
  			    }
			}

			&__submit {
				margin-top: 17px;
				border: none;
				width: 369px;
  				height: 88px;
  				border-radius: 44px; 
				background-image: linear-gradient( 0deg, rgb(220,0,104) 0%, rgb(129,47,113) 100%);
				text-transform: uppercase;
				font-size: 30px;
  				font-family: $Roboto;
  				color: $white;

  				@include respond-to(xs) {
  					width: 100%;
  					font-size: 22px;
  					height: 62px;
  				}
			}
		}
}

.contact-us {
	margin-top: 200px;
	background-color: #dfdfdf;
	position: relative;

	&:before,
	&:after {
		width: 100%;
		position: absolute;
		content: '';
	}

	&:before {
		top: -150px;
	 	transform: skewY(-7.8deg);
	 	height: 300px;
	 	background-color: #dfdfdf;
	 	z-index: 0;
	}

	&:after {
		bottom: -150px;
	 	transform: skewY(-7.8deg);
	 	height: 280px;
	 	background-color: rgb(239, 238, 236);
	 	z-index: 2;
	}

	.wrapper {
		display: flex;
		position: relative;
		z-index: 1;
	    transform: translateY(-144px);

	    @include respond-to(xl) {
	    	justify-content: space-between;
	    }

	    @include respond-to(xl) {
	    	justify-content: center;
	    }
	}

	&__column {

		&_info {
			padding-top: 125px;
		}

		&_image {
			transform: translate(-40px, 70px);

			@include respond-to(xl) {
				transform: translateX(-100px);
			    display: flex;
    			flex-direction: column;
    			justify-content: flex-end;
			}

			@include respond-to(md) {
				display: none;
			}

			img {
				@include respond-to(xl) {
				    max-width: 460px;
				}

				@include respond-to(lg) {
					max-width: 360px;
				}
			}
		}
	}

	&__title {
		color: $black;

		img {
			@include respond-to(xs) {
				max-width: 100%;
				height: auto;
			}
		}
	}

  &__list {
        padding-left: 15px;
    list-style-type: disc;
        margin-top: 20px;
        font-size: 24px;
        font-family: $DINPro;
        color: $black;
        font-weight: 700;
        letter-spacing: -0.8px;

          @include respond-to(xs) {
            font-size: 18px;
         }

         li {
          margin-bottom: 15px;
         }
    }

	&__form {
		margin-top: 48px;

		@include respond-to(md) {
				width: 100%;
				max-width: 530px;
				padding-bottom: 70px;
			}

		.field {
			margin-bottom: 20px;	

			@include respond-to(md) {
				width: 100%;
			}
		}

		.send-btn {
			margin-top: 37px;
		}

		.checkbox {
			margin-top: 42px;
		}
	}

	&__flex {
		margin-top: 70px;
		display: flex;

		@include respond-to(sm) {
			flex-direction: column;
		}
	}

	&__phone {
		min-width: 300px;
  		width: 300px;
    	font-family: $DINPro;
    	color: $black;
    	font-weight: 500;
    	font-size: 54px;
        letter-spacing: -2.3px;
    	display: flex;
    	align-items: flex-start;

    span {
      margin: 5px 6px 0 0;
      letter-spacing: 0;
      font-size: 18px;
    }
  }

  &__stock-text {
  	padding-top: 7px;
  	font-family: $OpenSans;
  	min-width: 300px;
  	width: 300px;

  	p {
  		margin-bottom: 18px;
    	line-height: 23px;
		font-size: 19px;
  		color: $black;
  	}

  	span {
  		font-size: 16px;
  		color: rgb(139, 139, 139);
  	}
  }
}

.reasons {
	padding-top: 75px;
	background-color: rgb(239, 238, 236);
	position: relative;

	@include respond-to(md) {
		padding-top: 0;
	}

	&_interactive {
		padding-top: 45px;

		&:before {
			position: absolute;
    		width: 100%;
    		content: '';
    		top: -145px;
    		transform: skewY(-7.8deg);
    		height: 280px;
    		background-color: #efeeec;
    		z-index: -1;
		}
	}

	.wrapper {
		position: relative;
		z-index: 2;
		display: flex;

		@include respond-to(lg) {
			justify-content: space-between;
		}

		@include respond-to(md) {
			align-items: center;
    		flex-direction: column;
		}
	}

	h3 {
		margin-top: 9px;
		max-width: 405px;
		font-size: 48px;
  		font-family: $DINPro;
  		color: $black;
  		font-weight: 700;

  		@include respond-to(md) {
  			margin-bottom: 35px;
  		}

  		@include respond-to(xs) {
  			margin-top: 0;
  			font-size: 30px;
  		}
	}

	&__list {
		margin-left: 79px;
		max-width: 630px;

		@include respond-to(lg) {
			margin-left: 0;
		}
	}

	&__item {
		margin-bottom: 48px;
		position: relative;
		font-family: $MyriadPro;
		color: $black;
		padding-left: 80px;

		@include respond-to(md) {
			margin-bottom: 28px;
			padding-left: 50px;
		}

		&:before {
			background-color: rgb(199, 11, 106);
			content: '';
			left: 0;
    		top: 8px;
  			position: absolute;
  			width: 45px;
  			height: 4px;

  			@include respond-to(md) {
  			    width: 30px;
    			height: 3px;	
  			}
		}

		h4 {
			max-width: 500px;
			font-weight: 600;
			font-size: 24px;
			letter-spacing: 1.5px;

			@include respond-to(xs) {
				font-size: 20px;
    			letter-spacing: 0.5px;
			}
		}

		p {
			padding-top: 17px;
			font-size: 19px;
			line-height: 24px;
			letter-spacing: 0.1px;

			@include respond-to(md) {
				padding-top: 7px;
			}

			@include respond-to(xs) {
				font-size: 16px;
    			line-height: 20px;
			}
		}
	}
}

.discount {
	position: relative;
	height: 500px;

	@include respond-to(md) {
		height: auto;
		padding-bottom: 30px;
	}

	&:before {
		position: absolute;
		width: 100%;
		content: '';
		top: -135px;
	 	transform: skewY(-7.8deg);
	 	height: 280px;
	 	background-color: rgb(239, 238, 236);
	 	z-index: 1;
	}

	&_interactive {
		&:before {
			background-color: #dfdfdf;
		}
	}	

	.wrapper {
		position: relative;
		z-index: 2;
		display: flex;
	}

	&__image {
		width: 100%;
   		height: 307px;
   		position: relative;

   		@include respond-to(lg) {
   			width: 100%;
   			height: auto;
    		max-width: 460px;
   		}

   		img {
   			@include respond-to(xs) {
   				max-width: 100%;
   			}
   		}

   		&:after {
        position: absolute;
    z-index: -1;
    content: '';
    background-color: rgba(239, 238, 236, 0.2);
    box-shadow: inset 7px 8px 50px 16px rgba(128, 128, 128, 0.23), 0px 1px 50px 11px rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    width: 130px;
    height: 130px;
    right: 30px;
    transform: rotate(180deg);
    bottom: -50px;
      }
	}

	&__flex {
		margin-top: 85px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include respond-to(md) {
		    flex-direction: column;
		}
	}

	&__column {
		display: flex;

		@include respond-to(md) {
			flex-direction: column;
		}
	}

	&__info {
		max-width: 300px;
		margin-top: 15px;

		@include respond-to(lg) {
			max-width: 400px;
		}
	}

	&__number {
		margin-top: -27px;
		letter-spacing: -12px;
		display: flex;
		align-items: flex-start;
		font-size: 210px;
  		font-family: $DINPro;
  		color: rgb(199, 11, 106);
  		font-weight: 700;

  		@include respond-to(lg) {
  			font-size: 170px;
  		}

		&-symbol {
			margin-top: 18px;
			font-size: 110px;
			font-weight: 800;

			@include respond-to(lg) {
  				font-size: 80px;
  			}
		}
	}

	p {
		padding-top: 6px;
    	font-size: 19px;
    	line-height: 28px;
  		font-family: $OpenSans;
  		color: $black;
	}

	&__link {
		margin-top: -45px;
		border-radius: 44px;
		width: 327px;
		height: 88px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 3px solid rgb(199, 11, 106);
		font-size: 26px;
		font-weight: 600;
  		font-family: $Roboto;
  		color: rgb(199, 11, 106);
  		text-transform: uppercase;

  		@include respond-to(lg) {
  			height: 82px;
  		    font-size: 24px;
  		}

  		@include respond-to(md) {
  			margin-top: 45px;
  		}

  		@include respond-to(xs) {
  			margin-top: 30px;
  		    width: 100%;
    		font-size: 22px;
    		height: 62px;
  		}
	}
}

.team {
	padding-top: 45px;

	@include respond-to(xs) {
		padding-top: 30px;
	}

	&__image {
		max-width: 100%;
		height: auto;
	}
}

.photo-report {
	padding-top: 162px;

	@include respond-to(sm) {
		padding-top: 90px;
	}
	
  	h3 {
  	    max-width: 450px;
  	    letter-spacing: -1.6px;
  		font-size: 48px;
  		font-family: $DINPro;
  		color: $black;
  		font-weight: 800;

  		@include respond-to(sm) {
  			font-size: 34px;
  		}
  	}

  	&__list {
  		margin-top: 82px;
  		display: flex;
  		justify-content: space-between;

  		@include respond-to(sm) {
  			margin-top: 50px;
  		}

  		@include respond-to(xs) {
  		    flex-direction: column;
  		}
  	}
  	
  	&__item {
  		display: block;
  		background-color: rgb(239, 238, 236);
  		width: 350px;
  		height: 431px;

  		@include respond-to(lg) {
  		    width: calc(33.33333% - 15px);
  		}

  		@include respond-to(xs) {
  			width: 100%;
  			margin-bottom: 40px;
  		}

  		@include respond-to(md) {
  		    height: auto;
  		    padding-bottom: 20px;
  		}
  	
  		p {
  			margin-top: 29px;
  			padding-left: 37px;
  			font-size: 19px;
  			font-family: $OpenSans;
  			color: $black;

  			@include respond-to(md) {
  				margin-top: 20px;
  				font-size: 17px;
    			padding-left: 15px;
    			padding-right: 15px;	
  			}

  			@include respond-to(sm) {
  				font-size: 15px;
  			}

  			@include respond-to(xs) {
  				font-size: 18px;
  			}
  		}
  	}

  	&__image {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			width: 69px;
			height: 69px;
			bottom: 2px;
    		right: 28px;
			background-image: url('../img/arrow.png');
			background-size: cover;
		}

		img {
			max-width: 100%;

			@include respond-to(xs) {
				width: 100%;
			}
		}
	}

	&__show-more {
		margin: 76px auto;
		border-radius: 44px;
		width: 327px;
		height: 88px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 3px solid rgb(199, 11, 106);
		font-size: 26px;
		font-weight: 600;
  		font-family: $Roboto;
  		color: rgb(199, 11, 106);
  		text-transform: uppercase;

  		@include respond-to(xs) {
  			margin-top: 20px;
  			width: 100%;
    		font-size: 22px;
    		height: 62px;
  		}
	}
}

.clients {
	padding-top: 55px;
	position: relative;

	@include respond-to(md) {
		padding-top: 10px;
	}

	&:after {
		position: absolute;
		width: 100%;
		content: '';
		bottom: -195px;
	 	transform: skewY(-7.8deg);
	 	height: 350px;
	 	background-color: #efeeec;
	 	z-index: 1;

	 	@include respond-to(xs) {
	 		bottom: -35px;
	 		height: 230px;
	 	}
	}

	h3 {
		max-width: 405px;
		font-size: 48px;
	    letter-spacing: -1.6px;
  		font-family: $DINPro;
  		color: $black;
  		font-weight: 700;

  		@include respond-to(xs) {
  			font-size: 34px;
  		}
	}

  p {
        max-width: 570px;
        margin-top: 31px;
        line-height: 28px;
        font-size: 19px;
        font-family: $OpenSans;

        @include respond-to(xs) {
           margin-top: 20px;
          line-height: 24px;
          font-size: 16px;
        }
      }

	.wrapper {
		position: relative;
		z-index: 1;
	}
	&__container {
		margin-top: 163px;
		padding-bottom: 10px;
		position: relative; 
		z-index: 2;
		background-color: rgb(239, 238, 236);

		@include respond-to(md) {
			margin-top: 100px;
		}

		&:before {
		position: absolute;
		content: '';
		width: 100%;
		top: -150px;
	 	transform: skewY(-7.8deg);
	 	height: 300px;
	 	background-color: rgb(239, 238, 236);
	 	z-index: -1;

	 		@include respond-to(md) {
	 			top: -60px;
	 		}
		}
	}

	&__list {
		padding-top: 39px;
		max-width: 895px;
		margin: auto;

		@include respond-to(xs) {
			padding-top: 0;
		}
	}	

	&__row {
		margin-bottom: 150px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		@include respond-to(sm) {
			margin-bottom: 80px;
		}

		@include respond-to(xs) {
    		flex-direction: column;
    	    align-items: center;
    		margin-bottom: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
	&__item {
		@include respond-to(sm) {
			width: 20%;
		}

		@include respond-to(xs) {
			margin-bottom: 50px;
			width: 100%;
    		max-width: 250px
		}


		img {
			width: 100%;
		}
	}
}

.offer {
	position: relative;
	padding: 310px 0;
	background-image: linear-gradient( 0deg, rgb(220,0,104) 0%, rgb(139,31,110) 100%);

	@include respond-to(md) {
		padding: 310px 0 150px;
	}

	@include respond-to(xs) {
		padding: 150px 0 ;
	}

	&__title {
	    transform: translateX(-22px);
    	margin-left: auto;
    	display: block;

    	@include respond-to(md) {
    		transform: none;
    	}

    	@include respond-to(xs) {
    		width: 100%;
    		height: auto;
    	}
	}

	&__flex {
		margin-top: 45px;
		display: flex;
	    justify-content: space-between;

	    @include respond-to(md) {
	    	flex-direction: column;
	    }
	}

	&__column {

		.checkbox {
		margin-bottom: 53px;
		padding-left: 58px;
		font-size: 24px;
  		font-family: $OpenSans;
  		color: $white;
  		font-weight: 400;
  	    line-height: 37px;

  	    @include respond-to(lg) {
  	    	line-height: 28px;
  	    }

  	    .checkmark {
  	    	border-color: rgb(231, 122, 177);

  	    	&:after {
  	    		border-color: $white;
  	    	}
		}
	}


		&_first {
			padding-top: 20px;
		}

		&_second {
			// width: 100%;

			@include respond-to(lg) {
				padding-left: 15px;
			}

			 @include respond-to(md) {
			 	padding-left: 0;
			 }
		}
	}

	&__info {

	}

	&__count {
		padding-right: 31px;
		margin-bottom: 26px;

		&-row {
			margin-bottom: 20px;
			display: flex;
			justify-content: space-between;
		    align-items: center;

		    @include respond-to(xs) {
		        flex-direction: column;
		        align-items: center;
		    }
		}

		&-text {
			margin-top: 23px;
			width: 227px;

			@include respond-to(md) {
				max-width: 227px;
				width: 100%;
			}

			@include respond-to(xs) {
				max-width: 100%;
				margin-bottom: 15px;
			}

		
			h4 {
				font-size: 24px;
  				font-family: $OpenSans;
  				color: $white;
  				font-weight: 400;

  				span {
  					font-size: 12px;
  				}
			}

			p {
				margin-top: 5px;
				font-size: 15px;
				line-height: 19px;
  				font-family: $OpenSans;
  				color: rgb(231, 122, 177);
  				font-weight: 400;
			}	
		}

		&-counter {
			margin-left: 105px;
			display: flex;
			align-items: center;

			@include respond-to(md) {
				margin-left: 15px;
			}

			@include respond-to(xs) {
				margin-left: 0;
			}

			a {
			position: relative;
			border-radius: 50%;
			color: $white;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 95px;
  			height: 95px;
  			border: 1.5px solid rgba(255, 255, 255, 0.1);
  			font-family: "DIN Pro";
    		font-size: 60px;
    		font-weight: 300;
    		padding-bottom: 6px;

			&:before {
				position: absolute;
				content: '';
				border-radius: 50%;
				border: 1.5px solid rgba(255, 255, 255, 0.25);
				width: 75px;
				height: 75px;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
		}

		input  {
			width: 110px;
			display: block;
			text-align: center;
			border: none;
			font-size: 60px;
  			font-family: $DINPro;
  			color: $white;
  			background-color: transparent;

  			@include respond-to(xs) {
  				width: 100px;
  			}

  			&:focus {
  				outline: none;
  				border: none;
  				box-shadow: none;
  			}

  			&::-webkit-inner-spin-button, 
			&::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
  				margin: 0; 
			}
		}
		}
	}

	&__field-box {
		margin-bottom: 30px;

		.field {
			font-size: 24px;
			color: $white; 
			border-bottom: 1px solid rgb(231, 122, 177);

			@include respond-to(lg) {
				width: 100%;
				max-width: 530px;
			}

			&::placeholder { 
    			color: $white;
    			opacity: 1; 
  			}

  			&:-ms-input-placeholder { 
    			color: $white;
  			}

  			&::-ms-input-placeholder { 
    			color: $white;
  			}
		}

		span {
			display: block;
		    margin-top: 14px;
			font-size: 15px;
  			font-family: $OpenSans;
  			color: $white;
		}
	}

	&__bottom {
		margin-top: 47px;
		padding-right: 10px;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		@include respond-to(md) {
			margin: 25px 0 0;
			padding-right: 0;
			flex-direction: column;
			align-items: flex-start;
		}
	}

	.checkbox {
			margin-right: 40px;
			text-align: right;
			color: $white;
		    max-width: 450px;
			padding-left: 0;
			padding-right: 58px;

			@include respond-to(xs) {
				margin-right: 0;
			}

			.checkmark {
				right: 0;
				left: initial;
	  	    	border-color: rgb(231, 122, 177);

				&:after {
  	    		border-color: $white;
  	    	}
			}

			a {
				color: $white;
			}
		}

	&__submit {
		background-color: $white;
		border-radius: 44px;
		outline: none;
		border: none;
		width: 427px;
  		height: 88px;
  		display: flex;
  		justify-content: center;
		 align-items: center;
  		text-transform: uppercase;
  		font-size: 26px;
  		font-family: $Roboto;
  		color: $black;

  		@include respond-to(lg) {
  			margin-top: 20px;
  		}

  		@include respond-to(xs) {
  			width: 100%;
    		font-size: 18px;
    		height: 62px;
  		}
	}

	&__calling {
  			margin-top: 60px;
  			text-align: center;
  			color: $white;
			font-family: $Roboto;
			font-size: 26px;
			font-weight: 400;
			line-height: 27px;

			a {
				margin-left: 10px;
				color: $white;

				@include respond-to(xs) {
					display: block;
					margin-left: 0;
				}
			}

			@include respond-to(sm) {
				font-size: 20px;
			}

			@include respond-to(xs) {
				text-align: left;
				font-size: 18px;
			}
  		}

	&_interactive {

		@include respond-to(md) {
			padding-bottom: 220px;
		}

		.wrapper {
			max-width: 677px;

			@include respond-to(md) {
				max-width: 100%;
			}

		}

		.offer__title {
			margin: auto;
		    transform: translateX(-65px);

		    @include respond-to(md) {
		    	transform: none;
		    	max-width: 100%;
		    }
		}

		.offer__subtitle {
		    display: block;
			margin: 15px auto 0;
			transform: translateX(-65px);
			max-width: 100%;
			height: auto;

			@include respond-to(md) {
		    	transform: none;
		    	max-width: 50%;
		    }
		}

		.offer__form {
			margin-top: 73px;

			.field {
			width: 100%;

			@include respond-to(md) {
				margin: auto;
			}

			@include respond-to(xs) {
				font-size: 18px;
				margin-top: 30px;
			}
			}
		}

		.offer__field-box {
    		margin-bottom: 60px;

    		@include respond-to(xs) {
    			margin-bottom: 20px;
    		}
		}

		.offer__submit {
			margin: 67px auto 0;
			width: 427px;

			@include respond-to(xs) {
				margin-top: 35px;
				width: 100%;
			}
		}

		.checkbox {
			text-align: left;
			color: $white;
		    max-width: 462px;
		    margin: 45px auto;
			padding-left: 58px;

			.checkmark {
				right: initial;
				left: 0;
	  	    	border-color: rgb(231, 122, 177);

				&:after {
  	    		border-color: $white;
  	    		}
			}
			
		}

		}
	}

.map {
	position: relative;

	.wrapper {
		position: relative;;
		z-index: 1;
	}

	h3 {
		max-width: 405px;
		font-size: 48px;
	    letter-spacing: -1.6px;
  		font-family: $DINPro;
  		color: $black;
  		font-weight: 700;

  		@include respond-to(xs) {
  			font-size: 34px;
  		} 
	}

  p {
        max-width: 570px;
        margin-top: 31px;
        line-height: 28px;
        font-size: 19px;
        font-family: $OpenSans;

        @include respond-to(xs) {
           margin-top: 20px;
          line-height: 24px;
          font-size: 16px;
        }

        a {
          color: $black;
        }
      }

	&:before {
		position: absolute;
		width: 100%;
		content: '';
		top: -140px;
	 	transform: skewY(-7.8deg);
	 	height: 385px;
	 	background-color: rgb(239, 238, 236);
	 	z-index: 1;

	 	@include respond-to(xs) {
	 		top: -40px;
	 		height: 300px;
	 	}
	}

	&__container {
		height: 1110px;
	}
}

.catalog-modal {
	max-width: 947px;
	max-height: 1090px;
  	height: 100vh;
	padding: 35px 104px 0;

	@include respond-to(xl) {
		height: 100vh;
		overflow-y: auto;
    	overflow-x: hidden;
        min-height: auto;
	}

	@include respond-to(xs) {
		padding: 0 45px 45px;
	}


	.steps__counter  {

		a {
			@include respond-to(xs) {
				width: 65px;
    			height: 65px;
			}

			&:before {
				@include respond-to(xs) {
					width: 50px;
    				height: 50px;
				}
			}
		}
	}

	&__slider {


		&-item {

		}
	}

	&__container {
	}

	&__item {
		margin-bottom: 25px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 30px;

		img {
			width: 220px;
    		height: 220px;
			border-radius: 50%;
      cursor: pointer;
		}

		p {
			margin-top: 17px;
			text-align: center;
			font-size: 15px;
  			font-family: $OpenSans;
  			color: $black;
  			line-height: 1.333;
		}

		.steps__counter {
			margin-top: 5px;
		}
	}

	&__open-link {
		margin-top: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 210px;
 		height: 58px;
		border: 2px solid rgb(199, 11, 106);
		border-radius: 27px;
		font-size: 18px;
  		font-family: $Roboto;
  		color: rgb(199, 11, 106);
 	 	text-transform: uppercase;
	}

				.slick-arrow {
					top: 48%;
					border-radius: 50%;
					width: 48px;
					height: 48px;
					z-index: 1;
    				bottom: initial;
					background-size: 100% 100%;
					transition: $delay;

						&:before {
							display: none;
						}

						&:hover {
							opacity: .8;
						}

					&.slick-prev {
						left: -37px;
						background-image: url('../img/arrow-left.png');
					}

					&.slick-next {
						right: -37px;
						background-image: url('../img/arrow-right.png');
					}
				}


}


.contact-modal {
	max-width: 770px;
	min-height: 561px;
	padding: 71px 116px 0;

	@include respond-to(md) {
    	height: 100vh;
	    padding: 71px 35px 60px;
	    overflow: auto;
	    min-height: auto;
	    overflow-y: auto;
    	overflow-x: hidden;
	}

	@include respond-to(xs) {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.field {
    margin-bottom: 20px;
    width: 100%;

    @include respond-to(xs) {
    	font-size: 16px;
    	padding: 10px 0;
    }
  }

  &__button {
    margin-top: 18px;
    border: none;
    outline: none;
    padding: 28px 90px;
    background-image: linear-gradient( 0deg, rgb(220,0,104) 0%, rgb(129,47,113) 100%);
    border-radius: 44px;
    height: 88px;
    font-size: 26px;
    font-family: $Roboto;
    color: $white;
    text-transform: uppercase;


    @include respond-to(xs) {
    	padding: 0;
    	width: 100%;
    	font-size: 22px;
    	height: 62px;
    	display: flex;
        justify-content: center;
    	align-items: center;
    }
  }

  p {
      max-width: 500px;
    font-size: 15px;
      font-family: $OpenSans;
      color: $black;
      line-height: 1.333;
  }

	.checkbox {
		.checkmark {
					top: 3px;
					width: 32px;
					height: 32px;

					&:after {
						left: 10px;
    					top: 5px;
    					width: 6px;
    					height: 12px;
					}
				}
	}
}


.callback-modal {
	height: 581px;

	p {
	    padding: 35px 0 45px;
	}
}


.feedback-modal {
	height: 581px;

	p {
	    padding: 35px 0 45px;
	}
}

.finish-modal {
	height: 910px;

	@include respond-to(xl) {
		height: 100vh;
		overflow-y: auto;
    	overflow-x: hidden;
        min-height: auto;
        padding-bottom: 30px;
	}

	.checkbox {
	    margin: 27px 0 44px;
	}

}

.thankyou-modal {
    padding-top: 197px;
	height: 581px;
	text-align: center;

	@include respond-to(md) {

	}

	@include respond-to(xs) {
		padding-top: 120px;	
	}

	h3 {
		font-size: 72px;
  		font-family: $Roboto;
  		color: rgb(199, 11, 106);
  		text-transform: uppercase;	


  		@include respond-to(xs) {
  			font-size: 52px;
  		}
	}

	p {
	    padding: 2px 0 72px;
		font-size: 24px;
  		font-family: $Roboto;
  		color: $black;
  		line-height: 2;

  		@include respond-to(md) {
  			padding: 12px 0 50px;
  			margin-bottom: 20px;
  			margin: auto;
  			text-align: center;
  		}

  		@include respond-to(xs) {
			line-height: 1.2;
			padding-bottom: 20px;
  			font-size: 20px;
  		}
	}
}

.coctails-modal {
	max-width: 1400px;
	max-height: 960px;
	padding: 94px 0 30px;
    overflow-y: auto;
    overflow-x: hidden;

	h3 {
	max-width: 1200px;
	width: 100%;
	margin: auto;
    padding: 0 15px;
	color: $black;
	font-family: $DINPro;
	font-size: 48px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: -1.2px;

	@include respond-to(xs) {
		font-size: 38px;
	}
	}

	&__flex {
		padding-top: 0;
    	display: flex;
    	flex-wrap: wrap;

    	@include respond-to(xs) {
    		padding: 0;
    	}
	}

  &__back {
    margin-top: 50px;
    width: 331px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #c70b6a;
    -webkit-border-radius: 44px;
    border-radius: 44px;
    height: 92px;
    font-size: 26px;
    font-weight: 500;
    font-family: "Roboto";
    color: #c70b6a;
    text-transform: uppercase;  

    @include respond-to(sm) {
      margin: 50px auto 0;
    }

    @include respond-to(xs) {
      width: 100%;
      font-size: 22px;
      height: 62px;
    }
  }

	.drink-item {
		cursor: pointer;
		position: relative;
		overflow: hidden;

		h4 {
		    margin: 30px 0 8px;
			color: $black;
			font-family: $OpenSans;
			font-size: 26px;
			font-weight: 600;
			text-align: center;
		}

		p {
			font-family: $OpenSans;
			font-weight: 600;
			text-align: center;
			font-size: 18px;
    		margin-bottom: 5px;
		}

		@include respond-to(sm) {
			margin-bottom: 30px;
		}

		&__popup {
				padding: 20px 5px 40px;
  				opacity: 0;
  				transition: $delay;
  				position: absolute;
  				z-index: 1;
  				width: 100%;
  				min-height: 334px;
  				transform: translateY(10px);
  				display: flex;
    			flex-direction: column;
    			align-items: center;
  				background-color: #e7e7e7;

  				&:before {
  					content: '';
  				    width: 1px;
    				height: 1px;
  				    top: -20px;
  					position: absolute;
  					left: 0;
  					right: 0;
  					margin: auto;
  					border: 10px solid transparent;
    				border-bottom: 10px solid #e7e7e7;
  				}

  				&-price {
  				margin-top: 10px;
  				font-family: $DINPro;
  				font-size: 42px;
				font-weight: 700;
				letter-spacing: -1.05px;
  				}

  				&-add {
  					margin: 24px 0 24px;
  					width: 228px;
					height: 62px;
					display: flex;
    				justify-content: center;
    				align-items: center;
					border-radius: 31px;
					background-color: #c70b6a;
					color: $white;
					font-family: $Roboto;
					font-size: 18px;
					font-weight: 400;
  				}

  				&-open {
  					color: $black;
					font-family: $OpenSans;
					font-size: 16px;
					font-weight: 400;
					text-decoration: underline;

					&.hide {
						display: none;
					}

  				}

  				&-list {
  					display: none;
  					position: relative;
  					color: #000000;
					font-family: $OpenSans;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
  				}
  			}

		&__image {
        cursor: pointer;

  				@include respond-to(sm) {
  					max-width: 255px;
  					height: 250px;
  				}

  				&_one {
  				@include respond-to(sm) {
  				    transform: translateX(-30px);
  					}
  				}

  				&_two {
  				@include respond-to(sm) {
  				    transform: translateX(-5px);
  					}
  				}

  				&_three {
  				@include respond-to(sm) {
  				    transform: translateX(20px);
  					}
  				}

  				&_four {
  				@include respond-to(sm) {
  				    transform: translateX(-20px);
  					}
  				}

  				&_five{
  				@include respond-to(sm) {
  				    transform: translateX(-32px);
  					}
  				}		
  			}
  			&.active {
  				overflow: visible;

  				.drink-item__popup {
  					opacity: 1;
  				}
  			}
	}
}

.cart-modal {
	padding: 64px 25px 20px;
	overflow-y: auto;
	overflow-x: hidden;

	.cards {

		&__container {
			margin: 0 -12px;
		}
		&__column {
	    	width: 50%;
	    	padding: 0 12px;

	    	@include respond-to(xs) {
	    		width: 100%;
	    	}
		}
	}
	.contact-modal__button {
		text-align: center;
		padding: 28px 48px;
		margin-bottom: 38px;


		@include respond-to(xs) {
		    display: flex;
    		align-items: center;
    		padding: 0;
			}
		}

	&__sum {
		text-align: center;
		font-family: $DINPro;
		font-size: 36px;
		font-weight: 500;
		letter-spacing: -0.9px;

		span {
			font-size: 24px;
		}
	}

	&__form {
		max-width: 530px;
		letter-spacing: -0.6px;
		margin: auto;
	}
}