// .grey-bg {
//   position: absolute;
//   top: -300px;
//   left: 0;
//   width: 100vw;
//   background-color: #efeeec;
//   height: 1073px;
//   z-index: -1;
//   transform: skewY(-7.8deg);
// }

.main-banner {
  position: relative;
   background-color: #efeeec;

   &__info {
      position: relative;
      z-index: 1;
      transform: translate(-155px, -100px);
      width: 520px;
      min-width: 520px;
      font-family: $DINPro;
      font-weight: 700;
      letter-spacing: -1.6px;

        @include respond-to(xl) {
          transform: translate(0, -100px);
        }

        @include respond-to(md) {
          width: auto;
          min-width: auto;
          transform: translate(0, -300px);
        }

        @include respond-to(sm) {
          margin-bottom: 75px;
          transform: none;
          margin-left: auto;
          margin-right: auto;
        }

        @include respond-to(sm) {
          margin-bottom: 18vw;
        }

      * {
        display: block;
      }

      &-small {
        font-size: 39px;
        color: $black;

        @include respond-to(md) {
          font-size: 28px;
        }

        @include respond-to(xs) {
          font-size: 5.6vw;
        }
      }

      &-big {
        color: #c70b6a;
        font-size: 90px; 
        text-transform: uppercase;

        @include respond-to(md) {
          font-size: 46px;
        }

        @include respond-to(xs) {
          font-size: 9.2vw;
        }
      }

      &-link {
        margin-top: 43px;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 327px;
        height: 88px;
        border-radius: 44px;
        background-color: #eb1c48;
        background-image: linear-gradient(to right, #dc0068 0%, #812f71 100%);
        color: $white;
        font-family: $Roboto;
        font-size: 26px;
        font-weight: 400;
        line-height: 48px;
        text-transform: uppercase;

        @include respond-to(md) {
          width: 265px;
          margin-top: 23px;
          font-size: 22px;
          height: 62px;
        }

        @include respond-to(xs) {
          width: 53vw; 
          height: 8.8vw;
          margin-top: 4.6vw;
          font-size: 4.4vw;
          line-height: 9.6vw;
        }
      }
    }

  .slick-list {
    overflow: visible;
  }

  .slick-dots {
    bottom: 22px;
    z-index: 2;
    padding-right: 140px;


    @include respond-to(md) {
      padding-right: 0;
      bottom: 60px;
    }

    @include respond-to(xs) {
      bottom: 12vw;
    }

    li {
      width: 16px;
      height: 16px;
      margin: 0 14px;

      @include respond-to(sm) {
        width: 8px;
        height: 8px;
        margin: 0 5px;
      }

      @include respond-to(xs) {
        width: 1.6vw;
        height: 1.6vw;
        margin: 0 1vw;
      }

      button {
        width: 16px;
        height: 16px;
        padding: 0;

        @include respond-to(sm) {
          width: 8px;
          height: 8px;
        }

        @include respond-to(xs) {
          width: 1.6vw;
          height: 1.6vw;
        }

        &:before {
          color: transparent;
          opacity: 1;
          border-radius: 50%;
          background-color: rgb(214, 213, 212);
          width: 100%;
          height: 100%;
        }
      }

      &.slick-active {
        button {
          &:before {
            background-color: rgb(199, 11, 106);
          }
        }
      }
    }
  }

  &__item {
    position: relative;
    z-index: 1;
    height: 910px;

    @include respond-to(xl) {
      height: 610px;
      margin-top: 270px;
    }

    @include respond-to(md) {
      margin-top: 100px;
    }

    @include respond-to(sm) {
      margin-top: 250px;
      height: 440px;
    }

    @include respond-to(xs) {
      margin-top: 67vw;
      height: 88vw;
    }

    &:after {
    bottom: -165px;
    z-index: 0;
    position: absolute;
    content: '';
    width: 100vw;
    height: 300px;
    background-color: $white;
    transform: skewY(-7.8deg);

    @include respond-to(xs) {
      bottom: -33vw;
      height: 60vw;
    }
  }

    .wrapper {
      display: flex;
      align-items: flex-end;

      @include respond-to(md) {
        justify-content: space-between;
      }

      @include respond-to(sm) {
        justify-content: center;
      }

      & > img {
      margin-top: 8px;
      transform: translateX(-97px);

       @include respond-to(xl) {
          transform: none;
          max-width: 430px;
          height: auto;
       }

       @include respond-to(sm) {
          margin-top: 0;
          position: absolute;
          width: calc(100% - 30px);
          height: auto;
       }

       @include respond-to(xs) {
          max-width: 100%;
          width: 96vw;
          height: 120vw;
       }
    }
    }
  }

  .stock {
    position: relative;
    margin-left: -12px;
    //margin-bottom: 59px;
    margin-bottom: 277px;
    font-size: 23px;
    font-family: $OpenSans;
    color: $black;
    font-weight: 700;

    @include respond-to(xl) {
      margin-left: 0;
      margin-bottom: 240px;
    }

    @include respond-to(md) {
      font-size: 16px;
    }

    @include respond-to(sm) {
      color: $white;
      transform: translate(-20px, -20px);
      z-index: 2;
    }

    @include respond-to(xs) {
      margin-bottom: 48vw;
      font-size: 3.2vw;
      transform: translate(-4vw, -4vw);
    }

    &__flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      position: relative;
      z-index: 2;
      transform: translateY(306px);

      @include respond-to(md) {
        transform: translateY(215px);
      }

      @include respond-to(xs) {
        transform: translateY(43vw);
      }
    }

    &__container {
      display: flex;
      align-items: flex-start;

      @include respond-to(xs) {
       margin-left: 3vw; 
      }
    }

    &__image {
      width: 427px;
      height: 401px;
      background-image: url('../img/wineglass.png');
      background-repeat: no-repeat;
      background-size: 100%;
      margin-top: 0;
      position: absolute;
      right: -15px;
      z-index: 1;

      @include respond-to(md) {
        width: 300px;
        height: 282px;
      }

      @include respond-to(sm) {
        height: 295px;
      }

      @include respond-to(xs) {
        width: 60vw;
        height: 59vw;
        right: 0;
      }
    }

    &__title {
      margin-top: 40px;
      -ms-flex: 0 1 auto;
      text-align: right;
      transform: translateX(-15px);

       @include respond-to(xl) {
          max-width: 250px;
          transform: none;
       }

       @include respond-to(md) {
          margin-top: 20px;
          max-width: 120px;
       }

       @include respond-to(xs) {
        margin-top: 4vw;
        max-width: 24vw;
       }
    }

    &__price {
      font-size: 200px;
      font-family: $DINPro;
      color: $black;
      font-weight: 700;
      letter-spacing: -6px;

      @include respond-to(md) {
        font-size: 100px;
      }

      @include respond-to(sm) {
        color: $white;
      }

      @include respond-to(xs) {
        font-size: 20vw;
        letter-spacing: -1.2vw;
      }
    }

    &__vertical-text {
      margin-top: 128px;
      transform: rotate(-90deg) translateY(-24px);

      @include respond-to(md) {
        margin-top: 47px;
        transform: rotate(-90deg) translateY(-17px);
      }

      @include respond-to(xs) {
        margin-top: 9.4vw;
        transform: rotate(-90deg) translateY(-3.4vw);
      }
    }

    &__link {
      margin-right: 69px;
      transform: translateY(69px);
      min-width: 327px;
      height: 88px;
      border-radius: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      font-family: $Roboto;
      font-weight: 300;
      color: $white;
      text-transform: uppercase;
      position: relative;
      z-index: 2;
      background-image: linear-gradient(to right, #c70b6a, #c70b6a);

      @include respond-to(md) {
        transform: translateY(7px);
          min-width: 195px;
          height: 40px;
          font-size: 18px;
      }

      @include respond-to(sm) {
        margin-right: auto;
        margin-left: auto;
        transform: none;
      }

      @include respond-to(xs) {
          min-width: 39vw;
          height: 8vw;
          font-size: 3.6vw;
          border-radius: 8.8vw;
      }
    }
  }

  &_stock {
      @include respond-to(xs) {
        margin-bottom: 60px;
      }

    .main-banner__item  { 
      

      @include respond-to(xl) {
        margin-top: 0;
        height: 750px;
      }

      @include respond-to(md) {
        height: 680px;
      }

      @include respond-to(sm) {
          height: 625px;
      }

      @include respond-to(xs) {
        height: 125vw;
      }

      .wrapper {

        @include respond-to(xl) {
          justify-content: space-between;
        }

        @include respond-to(sm) {
          height: 100%;
        }



        & > img {
          margin-top: 180px;

        @include respond-to(xl) {
          margin-top: 232px;
          max-width: 480px;
        }

         @include respond-to(md) {
          margin-top: 140px;
         }

         @include respond-to(sm) {
            top: 130px;
            left: 0;
            margin: auto;
            right: 0;
         }

         @include respond-to(xs) {
          top: 29vw;
          width: 94vw;
          height: 91.6vw;
      }
    }

      }
    }
  }

  &_cocktail {
      .wrapper {

         @include respond-to(sm) {
            height: 100%;
         }

        & > img {
          margin-top: 4px;
          transform: translateX(-39px);

          @include respond-to(xl) {
              transform: translateX(-30px);
              margin-top: 170px;
              max-width: 380px;
          }

          @include respond-to(md)  {
            margin-top: 140px;
          }

          @include respond-to(sm) {
            top: 60px;
            max-width: 330px;
            left: 0;
            margin: auto;
            right: 0;
            transform: none;
          }

          @include respond-to(xs) {
            width: 66vw;
            height: 103.6vw;
            top: 18vw;
          }
        }
      }

      .main-banner__item {
           @include respond-to(xl) {
              height: 750px;
              margin-top: 0;
           }

           @include respond-to(md) {
            height: 680px;
           }

           @include respond-to(sm) {
            }

            @include respond-to(xs) {
              height: 125vw;
            }
      }

     .main-banner__info {
          transform: translate(0px, -55px);

           @include respond-to(xl) {
              position: absolute;
              right: 60px;
              transform: translate(-0, -165px);
           }

           @include respond-to(md) {
              transform: translate(-0, -300px);
              right: 15px;
              position: static;
           }

           @include respond-to(sm) {
            transform: translate(0, 20px);
           }

           @include respond-to(xs) {
            margin-bottom: 27vw;
           }

          &-link {
            margin-top: 85px;
            transform: translateX(120px);

             @include respond-to(xl) {
              margin-top: 45px;
              transform: none;
             }

             @include respond-to(sm) {
                  margin-top: 2vw;
             }
          }
      }
  }
}

